# 2023 Day 6

https://adventofcode.com/2023/day/6

https://adventofcode.com/2023/day/6/input

In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from numba import jit
from numba.typed import List

In [2]:
raw_inp = open('input-06.txt').read().strip()

In [3]:
raw_test1 = """
Time:      7  15   30
Distance:  9  40  200
""".strip()

In [4]:
def parse(text):
    time_line, dist_line = text.split('\n')
    return pd.DataFrame({
        'time': list(map(int, time_line.split(':')[1].strip().split())),
        'dist': list(map(int, dist_line.split(':')[1].strip().split())),
    })

In [5]:
inp = parse(raw_inp)
test1 = parse(raw_test1)
test1

   time  dist
0     7     9
1    15    40
2    30   200

## Part 1

In [6]:
@jit(nopython=True)
def get_dist(t_charge, t_total):
    speed = t_charge
    t_remaining = t_total - t_charge
    return speed * t_remaining

@jit(nopython=True)
def jget_options(t_total):
    times = np.arange(1, t_total)
    dists = np.array([get_dist(t, t_total) for t in times])
    return times, dists

def get_options(t_total):
    times, dists = jget_options(t_total)
    return pd.DataFrame(dict(t_charge=times, dist=dists))

In [7]:
np.prod([
    get_options(race.time).dist.gt(race.dist).sum()
    for race in test1.itertuples()
])

288

In [8]:
np.prod([
    get_options(race.time).dist.gt(race.dist).sum()
    for race in inp.itertuples()
])

293046

## Part 2

In [9]:
race = test1.astype(str).sum().astype(int)
get_options(race.time).dist.gt(race.dist).sum()

71503

In [10]:
race = inp.astype(str).sum().astype(int)
get_options(race.time).dist.gt(race.dist).sum()

35150181