# 2024 Day 1

https://adventofcode.com/2024/day/1

https://adventofcode.com/2024/day/1/input

In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('input-01.txt', sep=r'\s+', names=(0,1))
data

         0      1
0    85215  94333
1    24582  34558
2    98037  94333
3    75786  66247
4    45656  85863
..     ...    ...
995  23853  40439
996  53938  19555
997  18254  32811
998  86817  33438
999  78957  74568

[1000 rows x 2 columns]

## Part 1

In [3]:
s0 = data[0].sort_values().reset_index(drop=True)
s1 = data[1].sort_values().reset_index(drop=True)
int(s1.sub(s0).abs().sum())

1319616

## Part 2

In [4]:
counts = data.groupby(1).size().reset_index().rename(columns={0:'num', 1: 0})
counts

         0  num
0    10033    1
1    10130    1
2    10226    1
3    10279    1
4    10461    6
..     ...  ...
520  99178    1
521  99203    1
522  99501    1
523  99593    1
524  99698    1

[525 rows x 2 columns]

In [5]:
int(
    data[[0]]
    .merge(counts, how='left')
    .fillna(0)
    .assign(v=lambda x: x[0].mul(x.num))
    .v.sum()
)

27267728