# 2024 Day 2

https://adventofcode.com/2024/day/2

https://adventofcode.com/2024/day/2/input

In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('input-02.txt', header=None, sep=' ')
data

      0   1   2   3   4     5     6     7
0    45  47  48  50  51  52.0  54.0  51.0
1    23  26  27  30  30   NaN   NaN   NaN
2    40  41  44  47  49  51.0  55.0   NaN
3    12  15  18  19  26   NaN   NaN   NaN
4    78  81  83  84  83  84.0   NaN   NaN
..   ..  ..  ..  ..  ..   ...   ...   ...
995  49  52  54  56  58  61.0  63.0   NaN
996  91  88  85  82  81   NaN   NaN   NaN
997  23  22  21  19  17  15.0  13.0   NaN
998  72  73  75  77  78  80.0  81.0   NaN
999  73  72  71  70  68  66.0   NaN   NaN

[1000 rows x 8 columns]

In [3]:
data = [list(map(int, line.split())) for line in open('input-02.txt').readlines()]
data[:5]

[[45, 47, 48, 50, 51, 52, 54, 51],
 [23, 26, 27, 30, 30],
 [40, 41, 44, 47, 49, 51, 55],
 [12, 15, 18, 19, 26],
 [78, 81, 83, 84, 83, 84]]

## Part 1

In [4]:
def check_one(row):
    delta = np.diff(row)
    if np.all(delta > 0) | np.all(delta < 0):
        if np.all(np.abs(delta) <= 3):
            return True
    return False

In [5]:
sum(map(check_one, data))

663

## Part 2

In [6]:
def check_one_tolerant(row):
    if check_one(row):
        return True
    
    for i in range(len(row)):
        xrow = row[:i] + row[i+1:]
        if check_one(xrow):
            return True
    return False

In [7]:
sum(map(check_one_tolerant, data))

692