# 2021 Day 1

https://adventofcode.com/2021/day/1

In [1]:
import numpy as np
import pandas as pd

In [7]:
inp = pd.read_csv('input-01.txt', header=None, names='depth'.split())
inp

      depth
0       199
1       203
2       200
3       201
4       196
...     ...
1995   2314
1996   2316
1997   2332
1998   2338
1999   2341

[2000 rows x 1 columns]

## Part 1

In [10]:
inp.depth.diff().gt(0).sum()

1154

## Part 2

In [15]:
inp.depth.rolling(3).sum().dropna().diff().gt(0).sum()

1127