# 2021 Day 8

https://adventofcode.com/2021/day/8

In [1]:
import itertools
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
inp = pd.read_csv('input-08.txt', sep=' ', engine='python', names=np.arange(15), header=None)
inp

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,dac,abcf,ac,fdbcga,dgcbae,gcbfde,fgcbd,agfed,adcgf,cdbgfea,|,cbfa,bcafdg,cbfa,bafcgd
1,abfgd,baedc,feb,fgde,fbagcd,facbdge,agcbfe,bgafde,fe,ebdfa,|,bef,fe,dgfe,feb
2,dfc,dc,afegbc,bcafe,fcead,agefd,cafdeb,fcbeadg,cbed,cabdfg,|,cd,geadf,cfd,bfaec
3,efacdgb,abefdg,efagbc,af,afe,gdeab,dbfa,dgefa,acegbd,cdegf,|,cfdge,gefda,ecbgdfa,eaf
4,feg,gdbea,edgbca,gefdab,caefdbg,egfda,afdgc,fe,cgfdeb,efba,|,edafbg,bdefgc,egdfa,gbead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,afcb,bgdcfe,bacdfe,ceadf,cbefd,caged,bgedaf,af,egfdbca,fda,|,adf,ecbfd,efdbc,adefgb
196,cgdaef,eagfb,afdbge,gfedb,ecfbd,agbd,cbgefa,gd,agcbefd,dfg,|,agcfbe,fgcdae,fdg,fgd
197,ed,afbge,fbcaeg,bcdfa,gfeabd,gfed,egbfcad,geadcb,adbfe,ead,|,begadc,abefg,dea,dea
198,fceba,deafbc,aegc,edbgafc,bfdcg,ag,dbafge,cfbeag,abg,cafgb,|,gab,agb,abfegd,ecga
199,fcedg,cfdaegb,dbfg,egcfbd,bgc,cgbefa,cebgd,ecbad,bg,dceafg,|,cgb,fcbgae,ecbda,gebcd

In [3]:
I, O = inp.loc[:,:9], inp.loc[:,11:]
display(I)
display(O)

,0,1,2,3,4,5,6,7,8,9
0,dac,abcf,ac,fdbcga,dgcbae,gcbfde,fgcbd,agfed,adcgf,cdbgfea
1,abfgd,baedc,feb,fgde,fbagcd,facbdge,agcbfe,bgafde,fe,ebdfa
2,dfc,dc,afegbc,bcafe,fcead,agefd,cafdeb,fcbeadg,cbed,cabdfg
3,efacdgb,abefdg,efagbc,af,afe,gdeab,dbfa,dgefa,acegbd,cdegf
4,feg,gdbea,edgbca,gefdab,caefdbg,egfda,afdgc,fe,cgfdeb,efba
...,...,...,...,...,...,...,...,...,...,...
195,afcb,bgdcfe,bacdfe,ceadf,cbefd,caged,bgedaf,af,egfdbca,fda
196,cgdaef,eagfb,afdbge,gfedb,ecfbd,agbd,cbgefa,gd,agcbefd,dfg
197,ed,afbge,fbcaeg,bcdfa,gfeabd,gfed,egbfcad,geadcb,adbfe,ead
198,fceba,deafbc,aegc,edbgafc,bfdcg,ag,dbafge,cfbeag,abg,cafgb
199,fcedg,cfdaegb,dbfg,egcfbd,bgc,cgbefa,cebgd,ecbad,bg,dceafg

         11      12       13      14
0      cbfa  bcafdg     cbfa  bafcgd
1       bef      fe     dgfe     feb
2        cd   geadf      cfd   bfaec
3     cfdge   gefda  ecbgdfa     eaf
4    edafbg  bdefgc    egdfa   gbead
..      ...     ...      ...     ...
195     adf   ecbfd    efdbc  adefgb
196  agcfbe  fgcdae      fdg     fgd
197  begadc   abefg      dea     dea
198     gab     agb   abfegd    ecga
199     cgb  fcbgae    ecbda   gebcd

[200 rows x 4 columns]

## Part 1

In [4]:
output_words = pd.Series(O.values.ravel())
output_digit_lens = output_words.str.len()
output_digit_lens

0      4
1      6
2      4
3      6
4      3
      ..
795    4
796    3
797    6
798    5
799    5
Length: 800, dtype: int64

In [5]:
output_digit_lens.isin([2,4,3,7]).sum()

321

## Part 2

In [6]:
normal_wiring = pd.Series([
    'abcefg',
    'cf',
    'acdeg',
    'acdfg',
    'bcdf',
    'abdfg',
    'abdefg',
    'acf',
    'abcdefg',
    'abcdfg'
])

In [7]:
digit_possibilities = (
    normal_wiring
    .map(len)
    .reset_index()
    .set_axis('digit num_segments'.split(),1)
    .groupby('num_segments')
    .digit.agg(list)
)
digit_possibilities

num_segments
2          [1]
3          [7]
4          [4]
5    [2, 3, 5]
6    [0, 6, 9]
7          [8]
Name: digit, dtype: object

In [8]:
I.T[0]

0        dac
1       abcf
2         ac
3     fdbcga
4     dgcbae
5     gcbfde
6      fgcbd
7      agfed
8      adcgf
9    cdbgfea
Name: 0, dtype: object

In [9]:
x = I.T[1].rename('uniques').to_frame()
x['uniqueset'] = x.uniques.map(set)
x['uniquetuple'] = x.uniques.map(sorted).map(tuple)
x['poss'] = digit_possibilities[x.uniques.map(len)].values
x['known'] = np.where(x.poss.map(len).eq(1), x.poss.str[0], np.nan)
x['found'] = x.known.copy()
xx = x.set_index('known')
xx

       uniques              uniqueset            uniquetuple       poss  found
known
NaN      abfgd        {a, b, g, d, f}        (a, b, d, f, g)  [2, 3, 5]    NaN
NaN      baedc        {a, b, d, e, c}        (a, b, c, d, e)  [2, 3, 5]    NaN
7.0        feb              {e, b, f}              (b, e, f)        [7]    7.0
4.0       fgde           {e, f, g, d}           (d, e, f, g)        [4]    4.0
NaN     fbagcd     {a, b, g, d, c, f}     (a, b, c, d, f, g)  [0, 6, 9]    NaN
8.0    facbdge  {a, b, g, d, c, e, f}  (a, b, c, d, e, f, g)        [8]    8.0
NaN     agcbfe     {a, b, g, c, e, f}     (a, b, c, e, f, g)  [0, 6, 9]    NaN
NaN     bgafde     {a, b, g, d, e, f}     (a, b, d, e, f, g)  [0, 6, 9]    NaN
1.0         fe                 {e, f}                 (e, f)        [1]    1.0
NaN      ebdfa        {a, b, d, e, f}        (a, b, d, e, f)  [2, 3, 5]    NaN

In [10]:
# find 0,6,9
i069 = xx.poss.str[0].eq(0)
i6 = i069 & (xx.uniqueset - xx.loc[1].uniqueset).map(len).eq(5)
i9 = i069 & (xx.uniqueset - xx.loc[4].uniqueset).map(len).eq(2)
i0 = i069 & ~i6 & ~i9
xx.loc[i0, 'found'] = 0
xx.loc[i6, 'found'] = 6
xx.loc[i9, 'found'] = 9

# find 2,3,5
i235 = xx.poss.str[0].eq(2)
i2 = i235 & (xx.uniqueset - xx.loc[4].uniqueset).map(len).eq(3)
i3 = i235 & (xx.uniqueset - xx.loc[1].uniqueset).map(len).eq(3)
i5 = i235 & ~i2 & ~i3
xx.loc[i2, 'found'] = 2
xx.loc[i3, 'found'] = 3
xx.loc[i5, 'found'] = 5

xx

       uniques              uniqueset            uniquetuple       poss  found
known
NaN      abfgd        {a, b, g, d, f}        (a, b, d, f, g)  [2, 3, 5]    5.0
NaN      baedc        {a, b, d, e, c}        (a, b, c, d, e)  [2, 3, 5]    2.0
7.0        feb              {e, b, f}              (b, e, f)        [7]    7.0
4.0       fgde           {e, f, g, d}           (d, e, f, g)        [4]    4.0
NaN     fbagcd     {a, b, g, d, c, f}     (a, b, c, d, f, g)  [0, 6, 9]    6.0
8.0    facbdge  {a, b, g, d, c, e, f}  (a, b, c, d, e, f, g)        [8]    8.0
NaN     agcbfe     {a, b, g, c, e, f}     (a, b, c, e, f, g)  [0, 6, 9]    0.0
NaN     bgafde     {a, b, g, d, e, f}     (a, b, d, e, f, g)  [0, 6, 9]    9.0
1.0         fe                 {e, f}                 (e, f)        [1]    1.0
NaN      ebdfa        {a, b, d, e, f}        (a, b, d, e, f)  [2, 3, 5]    3.0

In [11]:
found = xx.set_index('uniquetuple').found
output = int(''.join(O.T[1].map(sorted).map(tuple).map(found).map(int).map(str)))
output

7147

In [12]:
def handle_row(i, o):
    x = i.rename('uniques').to_frame()
    x['uniqueset'] = x.uniques.map(set)
    x['uniquetuple'] = x.uniques.map(sorted).map(tuple)
    x['poss'] = digit_possibilities[x.uniques.map(len)].values
    x['known'] = np.where(x.poss.map(len).eq(1), x.poss.str[0], np.nan)
    x['found'] = x.known.copy()
    xx = x.set_index('known')
    
    # find 0,6,9
    i069 = xx.poss.str[0].eq(0)
    i6 = i069 & (xx.uniqueset - xx.loc[1].uniqueset).map(len).eq(5)
    i9 = i069 & (xx.uniqueset - xx.loc[4].uniqueset).map(len).eq(2)
    i0 = i069 & ~i6 & ~i9
    xx.loc[i0, 'found'] = 0
    xx.loc[i6, 'found'] = 6
    xx.loc[i9, 'found'] = 9

    # find 2,3,5
    i235 = xx.poss.str[0].eq(2)
    i2 = i235 & (xx.uniqueset - xx.loc[4].uniqueset).map(len).eq(3)
    i3 = i235 & (xx.uniqueset - xx.loc[1].uniqueset).map(len).eq(3)
    i5 = i235 & ~i2 & ~i3
    xx.loc[i2, 'found'] = 2
    xx.loc[i3, 'found'] = 3
    xx.loc[i5, 'found'] = 5

    assert xx.found.nunique() == 10
    
    found = xx.set_index('uniquetuple').found
    output = int(''.join(o.map(sorted).map(tuple).map(found).map(int).map(str)))
    return output

In [13]:
outputs = []
for ((_,i), (_,o)) in zip(I.iterrows(), O.iterrows()):
    outputs.append(handle_row(i,o))

In [14]:
np.sum(outputs)

1028926