# 2021 Day 3

https://adventofcode.com/2021/day/3

In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
inp = pd.read_csv('input-03.txt', header=None, names=['bits'], dtype=str)
inp

             bits
0    100100110110
1    101110110110
2    010100010100
3    011001110000
4    000000000111
..            ...
995  110010101010
996  110110111111
997  010010110011
998  000111110010
999  111100110011

[1000 rows x 1 columns]

In [3]:
x = np.vstack(inp.bits.map(list)).astype(int)
x

array([[1, 0, 0, ..., 1, 1, 0],
       [1, 0, 1, ..., 1, 1, 0],
       [0, 1, 0, ..., 1, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 1, 0],
       [1, 1, 1, ..., 0, 1, 1]])

In [4]:
def row2int(row):
    return int(''.join(row.astype(int).astype(str)), base=2)

## Part 1

In [5]:
gamma = row2int(np.mean(x, axis=0) > .5)
epsilon = row2int(np.mean(x, axis=0) < .5)

In [6]:
gamma * epsilon

2003336

## Part 2

In [7]:
def search(x, cmp, I=None):
    if I is None:
        I = np.arange(len(x))
    b = cmp(x[:,0].mean(), .5).astype(int)
    mask = x[:,0] == b
    x, I = x[mask,1:], I[mask]
    if len(I) == 1:
        return I[0]
    else:
        return search(x, cmp, I)

In [8]:
i1 = search(x, lambda a,b: a >= b)
i2 = search(x, lambda a,b: a < b)
co2_rating = row2int(x[i2])
o2_rating = row2int(x[i1])

In [9]:
o2_rating * co2_rating

1877139